.header {
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: 720px;
  max-height: 800px;
  padding: 30px 80px 40px;
  position: relative;
  box-sizing: border-box;
}

.header__row {
  display: flex;
  justify-content: space-around;
}

.header__image {
  margin-top: 37px;
  position: relative;
  right: -32px;
}

.header__title {
  margin-top: 128px;
  margin-bottom: 0;
  max-width: 601px;
  font-size: 66px;
  line-height: 76px;
  font-weight: 500;
  color: #000000;
}

.header__description {
  margin-top: 32px;
  margin-bottom: 0;
  max-width: 522px;
  font-size: 20px;
  line-height: 30px;
  color: #000000;
}

.header__footer {
  margin-top: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

.header__link {
  color: var(--color-light-orange);
  text-decoration: none;
}

.header__link:hover {
  color: var(--color-dark-orange);
  cursor: pointer;
}

.header__address {
  margin: 0;
  color: #838383;
}

/* change the styles on this resolution*/
@media (max-width: 1024px) {
  .header {
    padding: 0;
    height: unset;
    max-height: unset;
  }

  .header__row {
    flex-wrap: wrap;
    flex-direction: column;
    padding: 0 15px;
  }

  .header__title-wrap {
    text-align: center;
  }

  .header__title {
    margin-top: 64px;
    font-size: 3.5rem;
  }

  .header__title-wrap > * {
    margin-right: auto;
    margin-left: auto;
  }

  .header__image {
    position: unset;
    max-width: 90vw;
  }

  .header__footer {
    padding: 40px;
    margin-top: 32px;
  }

  /*selector > * all the direct childs */
  .header__footer > * {
    flex: 1;
  }

  .header__address {
    text-align: right;
  }
}
