form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* input:valid {
  border-color: green;
}

input:optional {
  border-color: blue;
} */

.input-error {
  border-color: red;
}

.error_message {
  color: red;
}

/* input:disabled {
  border-style: double;
  color: purple;
} */
